$light_primary-color: #2196f3;
$dark_primary-color: #2196f360;

$light_secundary-color: #fafafa;
$dark_secundary-color: #818080;

$divider_color: #f2f2f2;
$accent-color: #212121;

$border-color: #ececec;

$background-color: #f5f6fa;
